<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUM-ocgxBmXf7mG7ivJZW0WYN8vbfgvnk</string>
	<key>GCM_SENDER_ID</key>
	<string>102434485672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.p2pchatter.app</string>
	<key>PROJECT_ID</key>
	<string>chit-51902</string>
	<key>STORAGE_BUCKET</key>
	<string>chit-51902.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102434485672:ios:e2525632e4f4ad19ef999d</string>
</dict>
</plist>